<footer class="footer">

  <div class="container">

    <div class="section">
      <h3>Ver-o-Centro</h3>
      <p>Plataforma para localizar lojas do bairro do Comércio. </p>
    </div>

    <div class="section">
      <h3>Links úteis</h3>
      <a href="#">Início</a>
      <a href="#">Categorias</a>
      <a href="#" routerLink="/fale-conosco">Fale Conosco</a>
      <a href="#">Sobre</a>
    </div>

    <div class="section">
      <h3>Contato</h3>
      <p>Belém - Pará</p>
      <p>Instagram: &#64;verocentro</p>
    </div>

  </div>
</footer>
