<div class="landing">

    <!-- Banner -->
    <section class="banner">
        <img
            src="banner_vivaz.png"
            alt="Banner loja">
    </section>


    <!-- Perfil -->
    <section class="perfil">

        <img
            class="logo-loja"
            src="vivaz.png"
            alt="Logo">


        <h1>
            Vivaz Multimarcas
            <span class="plano premium">👑 Premium</span>
        </h1>


        <p class="categoria">Varejo e Atacado</p>

        <div class="acoes">
            <button class="whatsapp" (click)="abrirZap()">💬 WhatsApp</button>
            <button class="rota" (click)="abrirMaps()"> 📍 Como chegar</button>
            <button class="instagram" (click)="abrirInsta()">📷 Instagram</button>
        </div>
    </section>

    <section class="bloco">
        <h2> Sobre a loja:</h2>
        <p> 🔥 Na Vivaz Multimarcas tem variedade de verdade pra quem curte se vestir bem!</p>
        <p>Do casual ao street, aqui você encontra camisas, conjuntos, bermudas e muito mais na moda masculina, sempre com qualidade e estilo.</p>
        <p> Vem pra Vivaz, vem fechar com o certo!!!💥</p>
    </section>

    <section class="bloco">
        <h2>
            Acesse a nossa loja virtual:
        </h2>

        <div class="botao">
            <button class="btn-loja-virtual" (click)="abrirLojaVirtual()"> Nossa Loja</button>
        </div>
    </section>

    <!-- Informações -->
    <section class="bloco informacoes">
        <h2>
            Informações
        </h2>
        <p>
            📍 Shopping João Alfredo, Corredores A e B, Loja A07, A09, B08 e B10. - Comércio
        </p>
        <p>
            📞 (91) 98069-8140
        </p>
        <p>
            ⏰ Segunda a sábado - 08h às 18h
        </p>
    </section>
</div>
