<div class="home-layout">
    <aside class="categorias-card">
        <h3>Segmentos</h3>
        @for (categoria of categorias; track categoria.valor) {
            <button
                class="categoria-btn"
                [class.ativo]="categoriaSelecionada === categoria.valor"
                (click)="selecionarCategoria(categoria.valor)">
                {{ categoria.descricao }}
            </button>
        }
    </aside>

    <div class="conteudo-home">
        <app-carrossel></app-carrossel>
        <section class="vitrine">
            <h2>Vitrines em destaque</h2>
            <div class="cards">
                @for (loja of vitrines; track loja.id) {
                    <div class="card-loja">
                        <img
                            src="vivaz.png"
                            [alt]="loja.nome">
                        <div class="card-body">
                              <h3>
                                {{ loja.nome }}

                                @if (loja.plano === 'PREMIUM') {
                                <span class="plano premium">👑 Premium</span>
                                }

                                @if (loja.plano === 'PRO') {
                                <span class="plano pro">⭐ Pro</span>
                                }

                              </h3>
                            <span class="categoria">
                                {{ loja.categoria }}
                            </span>
                            <div class="acoes">
                                <button class="btn-vitrine">Vitrine</button>
                                <button class="btn-zap" (click)="abrirWhatsapp(loja)"> 💬 Whatsapp</button>
                                <button class="btn-rota" (click)="abrirMapa(loja)"> Rota </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="lista">
            <h2>Lista de Lojas</h2>
            @for (loja of lojas; track loja.id) {
                <div class="item-lista">
                    <div>
                        <h3>{{ loja.nome }}
                          @if (loja.plano === 'BASICO') {
                          <span class="plano basico">✔ Básico</span>
                          }
                        </h3>

                        <span>
                            {{ loja.endereco }},
                            {{ loja.numero }}
                            -
                            {{ loja.bairro }}
                        </span>
                    </div>
                    <button class="btn-rota" (click)="abrirMapa(loja)">📍 Como chegar</button>
                </div>
            }
        </section>

        <mat-paginator
            [length]="totalItens"
            [pageSize]="itensPorPagina"
            [pageSizeOptions]="[5]"
            (page)="mudarPagina($event)">
        </mat-paginator>
    </div>
</div>
