<div class="landing">

    <!-- Banner -->
    <section class="banner">
        <img
            src="banner_topbaby.png"
            alt="Banner loja">
    </section>

    <section class="perfil">
        <img
            class="logo-loja"
            src="topbaby.jpg"
            alt="Logo">
        <h1>
            Top Baby
            <span class="plano premium">👑 Premium</span>
        </h1>

        <p class="categoria">Roupas e produtos infantis</p>

        <div class="acoes">
            <button class="whatsapp" (click)="abrirZap()"><i class="fa-brands fa-whatsapp"></i> WhatsApp</button>
            <button class="rota" (click)="abrirMaps()"><i class="fa-solid fa-location-dot"></i> Como chegar</button>
            <button class="instagram" (click)="abrirInsta()"><i class="fa-brands fa-instagram"></i> Instagram</button>
        </div>
    </section>

    <section class="bloco">
      <h2> Sobre a loja:</h2>
      <p>Um toque de charme para o seu bebê 👶</p>
      <p>Na Top Baby você encontra tudo o que o seu bebê precisa em um só lugar.</p>
      <p>Trabalhamos com produtos de qualidade para acompanhar cada fase do desenvolvimento infantil.</p>
      <p>Oferecendo conforto, segurança e praticidade para o dia a dia das famílias.</p>

      <h2>O que você encontra na Top Baby?</h2>

      <ul class="lista-produtos">
        <li>👶 Roupas para recém-nascidos e crianças</li>
        <li>🍼 Mamadeiras e acessórios</li>
        <li>🧸 Brinquedos educativos</li>
        <li>🛏️ Enxoval para bebê</li>
        <li>🚼 Carrinhos e acessórios</li>
        <li>🎁 Presentes para chá de bebê</li>
      </ul>
    </section>

    <section class="bloco">
      <h2> Alguns de nossos produtos: </h2>
      <div class="galeria">
        <img src="produto1.png" alt="Produto 1">
        <img src="produto2.png" alt="Produto 2">
        <img src="produto3.png" alt="Produto 3">
        <img src="produto4.png" alt="Produto 4">
      </div>
    </section>

    <!-- Informações -->
    <section class="bloco informacoes">
        <h2>
            Informações
        </h2>
        <p>
            📍 Rua Santo Antônio, 202. - Comércio
        </p>
        <p>
            📞 (91) 9198310-9594
        </p>
        <p>
            ⏰ Segunda a sábado - 08h às 18h
        </p>
    </section>
</div>

